# Criando um dicionario e um Data Frame 

* Python
* Pandas

In [10]:
# Importando à biblioteca pandas 
import pandas as pd

In [16]:
# Podemos ver dicionarios como coleções de valores em modo generico.
# Exemplo: Teremos o título da coleção - Times, 
# e dentro dessa coleção teremos os valor - São Paulo, Corinthians, palmeira e etc

dicionario = {'Nome':['João',
                       'Maria',
                       'Pedro',
                       'Ana'],
              'Idade':['18',
                       '20',
                       '19',
                       '18'],
              'Altura':['1.70',
                        '1.52',
                        '1.63',
                        '1.66']}

dicionario # Vemos nosso dicionario feito

{'Nome': ['João', 'Maria', 'Pedro', 'Ana'],
 'Idade': ['18', '20', '19', '18'],
 'Altura': ['1.70', '1.52', '1.63', '1.66']}

In [17]:
# Agora imagina que precisamos analisar isso com mais facilidade e 
# interagir melhor com esses dados do dicionario.
# Para isso usamos o Data Frame, que é nada mais do que Um quadro de dados,
# onde são alinhados de forma tabular em linhas e colunas.

df = pd.DataFrame(dicionario) # Criamos a variável "df", onde nosso data frame ficará amazenado

df #vemos nosso data frame

    Nome Idade Altura
0   João    18   1.70
1  Maria    20   1.52
2  Pedro    19   1.63
3    Ana    18   1.66

In [36]:
# Agora podemos fazer consultas como pessoas maiores de 18
df[df['Idade'] > '18']

    Nome Idade Altura
1  Maria    20   1.52
2  Pedro    19   1.63